<footer>
	<div class=powered-by>
		Powered by
		<a href="http://heroku.com" target=_blank>Heroku</a>,
		<a href="http://nodejs.org" target=_blank>Node.js</a>,
		<a href="http://expressjs.com" target=_blank>Express</a>,
		<a href="http://mongodb.com" target=_blank>MongoDB</a>,
		<a href="http://handlebarsjs.com" target=_blank>Handlebars.js</a>
	</div>
	<div class=credit>
		Site by <a href="http://kendsnyder.com">Ken Snyder</a>
	</div>
	<div class=clear></div>
</footer>

 Ken Snyder is a web developer specializing in PHP and JavaScript. He is a founding member of UtahJS. Ken's hobby is coding, so he gets to do his hobby all day. He currently works as CTO at Right Intel in Salt Lake City, Utah doing PHP development.

<address>
Location:
    Salt Lake City, Utah
Email:
    kendsnyder at gmail dot com
GitHub:
    kensnyder
Twitter:
    @kencoder
</address>
© 2007-2014 Ken Snyder
RSS
