<footer>
	<div class=powered-by>
		Powered by
		<a href=http://heroku.com target=_blank>Heroku</a>,
		<a href=http://nodejs.org target=_blank>Node.js</a>,
		<a href=http://postgresql.org target=_blank>PostgreSQL</a>,
		<a href=http://bookshelfjs.org target=_blank>Bookshelf.js</a>,
		<a href=http://expressjs.com target=_blank>Express</a>,
		<a href=http://handlebarsjs.com target=_blank>Handlebars.js</a>
	</div>
	<div class=bio>
		 Ken Snyder is a web developer specializing in PHP and JavaScript. He is a founding member of <a href=http://www.meetup.com/UtahJS-SLC-Meetup target=_blank>UtahJS</a>. Ken's hobby is coding, so he gets to do his hobby all day. He currently works as CTO at <a href=http://rightintel.com/home target=_blank>Right Intel</a> in Salt Lake City, Utah doing PHP and JavaScript development.
	</div>
	<address class=contact>
		Email: kendsnyder at gmail dot com<br>
		GitHub: <a href=http://github.com/kensnyder target=_blank>kensnyder</a><br>
		Twitter: <a href=http://twitter.com/kencoder target=_blank>@kencoder</a>
	</address>
	<div class=rss>
		<a href=/rss.xml target=_blank>RSS</a>
	</div>
	<div class=copyright>
		&copy; 2007&ndash;2014 Ken Snyder
	</div>
</footer>